.image-box {
  width: 420px;
  height: 520px;
  overflow: hidden;
  border-radius: 16px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Mobile */
@media (max-width: 768px) {
  .image-box {
    width: 300px;
    height: 380px;
  }
}
